.logo {
  display: flex;
  align-items: flex-end;
  gap: 6px;
}
.img {
  border-radius: 50%;
  border: 1px solid #d0d7de;
  overflow: hidden;
  width: 40px;
  height: 40px;
}
.text {
  color: #656d76;
  font-size: 18px;
}
